.icon-arrow-prev {
  width: 1em;
  height: 1em;
  fill: #7737FF;
}
.icon-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: #7737FF;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: #7737FF;
}
.icon-email {
  width: 1.22em;
  height: 1em;
  fill: #7737FF;
}
.icon-facebook {
  width: 0.59em;
  height: 1em;
  fill: #7737FF;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #7737FF;
}
.icon-lock {
  width: 0.91em;
  height: 1em;
  fill: #7737FF;
}
.icon-twitter {
  width: 1.22em;
  height: 1em;
  fill: #7737FF;
}
