---
title: Index Page
---
extends layouts/_layout
block content
	.main.section
		.main__center.center
			.main__wrap
				h1.main__title.title.title_big(data-aos="animation-scale-y-and-color") Manage your daily tasks better without all the stress.
				.main__info.info(data-aos="animation-scale-y" data-aos-delay="150") Change the way you manage your tasks with our revolutionary project management technology.
				.main__btns(data-aos="animation-scale-y" data-aos-delay="300")
					a.main__btn.btn.btn_purple.js-popup-open(href="#popup-pricing" data-effect="mfp-zoom-in") 
						+i('arrow-right')
						span.btn__text Get Started
					a.main__btn.btn.btn_border.js-popup-open(href="#popup-pricing" data-effect="mfp-zoom-in") Schedule a Demo
			.main__preview
				img.main__pic(src="img/main-pic.png" alt="")
	.quality.section
		.quality__center.center
			.quality__head(data-aos="animation-scale-y")
				h2.quality__title.title Get more done in <a class="title__link" href="#">less time</a>
				.quality__info.info Simple, fast, effortlessly.
			.quality__list
				.quality__item(data-aos="animation-scale-y")
					.quality__icon
						img.quality__pic(src="img/pricing.svg" alt="")
					.quality__text Transparent Pricing
				.quality__item(data-aos="animation-scale-y" data-aos-delay="150")
					.quality__icon
						img.quality__pic(src="img/integrations.svg" alt="")
					.quality__text Easy Integrations
				.quality__item(data-aos="animation-scale-y" data-aos-delay="300")
					.quality__icon
						img.quality__pic(src="img/increase.svg" alt="")
					.quality__text Superb Efficiency
	.details.section
		.details__center.center
			.details__item
				.details__preview
					.details__icon
						img.details__pic.js-parallax(src="img/details-pic-1.png" alt="")
				.details__box(data-aos)
					h2.details__title.title Revolutionize your workflow
					.details__info.info We have designed our app for increased efficiency and it will help you to start getting more things done.
					a.details__link(href="#") Learn More
						+i('arrow-right')
			.details__item
				.details__box(data-aos)
					h2.details__title.title Free template library included
					.details__info.info We have got quite a few already made templates for better project management that you can use now.
					a.details__link(href="#") Watch the Video
						+i('arrow-right')
				.details__preview
					.details__icon
						img.details__pic.js-parallax-left(src="img/details-pic-2.png" alt="")
			.details__item
				.details__preview
					.details__icon
						img.details__pic.js-parallax-right(src="img/details-pic-3.png" alt="")
				.details__box(data-aos)
					h2.details__title.title Used by teams from all over the globe
					.details__info.info Our app has been trusted by many different teams from around the world and we have got some great reviews.
					a.details__link(href="#") See Reviews
						+i('arrow-right')
	.system.section
		.system__center.center
			.system__head(data-aos="animation-scale-y")
				h2.system__title.title Fully reinvented project management system to help you <a class="title__link" href="#">ship products faster</a>
				.system__info.info Focus on what matters most, our robots handle the rest ☕️
			.system__preview(data-aos)
				img.system__pic(src="img/system-pic.png" alt="")
	.review.section
		.review__center.center
			h2.review__title.title(data-aos="animation-scale-y") Taking producers and content managers to a whole new level.
			.review__container
				.review__slider.owl-carousel.js-slider-review
					mixin reviewItem(src, blockquote, info, author)
						.review__item
							.review__ava(data-aos="animation-scale-y" data-aos-delay="50")
								img.review__pic(src=src alt="")
							.review__details
								.review__blockquote(data-aos="animation-scale-y" data-aos-delay="100")=blockquote
								.review__info(data-aos="animation-scale-y" data-aos-delay="200")=info
								.review__author(data-aos="animation-scale-y" data-aos-delay="300")=author
					+reviewItem('img/ava-1.png', '“This is one of the most advanced project management apps.”', 'In my entire working career, I have used quite a lot of different tools to manage the projects and this app is the best one.', '- Yana Lin, CEO at CrunchiiRoll')
					+reviewItem('img/ava-1.png', '“This is one of the most advanced project management apps.”', 'In my entire working career, I have used quite a lot of different tools to manage the projects.', '- Yana Lin, CEO at CrunchiiRoll')
					+reviewItem('img/ava-1.png', '“This is one of the most advanced project management apps.”', 'In my entire working career, I have used quite a lot of different tools to manage the projects and this app is the best one.', '- Yana Lin, CEO at CrunchiiRoll')
	.indicators.section
		.indicators__center.center
			.indicators__head(data-aos="animation-scale-y")
				h2.indicators__title.title Completely <a class="title__link" href="#">free to use</a> <br>with useful premium features
				.indicators__info.info Join us and see why our users love us ❤️
			.indicators__list
				.indicators__item(data-aos="animation-scale-y")
					.indicators__icon
						img.indicators__pic(src="img/profile.svg" alt="")
					.indicators__counter 3,000,000+
					.indicators__info.info Daily active users
				.indicators__item(data-aos="animation-scale-y" data-aos-delay="150")
					.indicators__icon
						img.indicators__pic(src="img/task.svg" alt="")
					.indicators__counter 10,090,000+
					.indicators__info.info Tasks completed
				.indicators__item(data-aos="animation-scale-y")
					.indicators__icon
						img.indicators__pic(src="img/business.svg" alt="")
					.indicators__counter 12,500+
					.indicators__info.info Companies using our software
				.indicators__item(data-aos="animation-scale-y" data-aos-delay="150")
					.indicators__icon
						img.indicators__pic(src="img/positive.svg" alt="")
					.indicators__counter 275,000+
					.indicators__info.info Positive reviews
	.trial.section
		.trial__center.center
			.trial__wrap(data-aos="animation-scale-y")
				.trial__box
					h2.trial__title.title Risk-free 30 day trial to <br>level up your team’s productivity.
					.trial__info.info Get started now and take advantage of our 30 day free trial today. No credit card required.
				a.trial__btn.btn.btn_purple.js-popup-open(href="#popup-pricing" data-effect="mfp-zoom-in")
					+i('arrow-right')
					span.btn__text Get Started
	// popup login
	.popup.popup_login.mfp-hide#popup-sign-up
		.login
			form.login__form
				.login__title.title.title_sm Sign Up
				.login__fieldset
					.login__field.field
						.field__label Email Address
						.field__wrap
							input.field__input(type="email" name="email" required)
							.field__icon
								+i('email')
					.login__field.field
						.field__label Create Password
						.field__wrap
							input.field__input(type="password" name="password" required)
							.field__icon
								+i('lock')
				.login__btns
					button.login__btn.btn.btn_purple(type="submit") Create Account
					a.login__btn.btn.btn_border.js-popup-open(href="#popup-sign-in" data-effect="mfp-zoom-in") Sign In 
	// popup sign in
	.popup.popup_login.mfp-hide#popup-sign-in
		.login
			form.login__form
				.login__title.title.title_sm Sign In
				.login__fieldset
					.login__field.field
						.field__label Email Address
						.field__wrap
							input.field__input(type="email" name="email" required)
							.field__icon
								+i('email')
					.login__field.field
						.field__line
							.field__label Password
							a.field__link(href="#") Forgot Password?
								+i('arrow-right')
						.field__wrap
							input.field__input(type="password" name="password" required)
							.field__icon
								+i('lock')
				.login__btns
					button.login__btn.btn.btn_purple(type="submit") Sign In
					button.login__btn.btn.btn_border(type="submit") Create Account
	// popup pricing
	.popup.popup_big.mfp-hide#popup-pricing
		.pricing.js-pricing
			.pricing__head
				h2.pricing__title.title Explore our Pricing
				.pricing__info We offer one of the most affordable prices on the market right now.
				label.switch.js-pricing-switch
					input.switch__input(type="checkbox" checked)
					span.switch__flex
						span.switch__box
						span.switch__category
							span.switch__yearly Billed Yearly
							span.switch__monthly Billed Monthly
						span.switch__sale Save 20%
			.pricing__list
				.pricing__item.pricing__item_starter
					.pricing__name Starter
					.pricing__value <span class="pricing__money">$0</span>
					.pricing__details
						.pricing__line
							.pricing__icon
								+i('check')
							.pricing__text Unlimited projects 
						.pricing__line
							.pricing__icon
								+i('check')
							.pricing__text Unlimited users 
					button.pricing__btn.btn.btn_red.btn_sm Get Started
				.pricing__item.pricing__item_pro
					.pricing__name Pro
					.pricing__value <span class="pricing__money js-pricing-money"><span class="pricing__money_yearly">$99</span><span class="pricing__money_monthly">$19</span></span> / Billed yearly
					.pricing__details
						.pricing__line
							.pricing__icon
								+i('arrow-prev')
							.pricing__text Everything in <a class="pricing__link" href="#">Starter</a>
						.pricing__line
							.pricing__icon
								+i('check')
							.pricing__text 7 Day version history
						.pricing__line
							.pricing__icon
								+i('check')
							.pricing__text Dedicated manager
					button.pricing__btn.btn.btn_green.btn_sm Try Free Now
				.pricing__item.pricing__item_enterprise
					.pricing__name Enterprise
					.pricing__value <span class="pricing__money">Custom</span>
					.pricing__details
						.pricing__line
							.pricing__icon
								+i('arrow-prev')
							.pricing__text Everything in <a class="pricing__link" href="#">Pro</a>
						.pricing__line
							.pricing__icon
								+i('check')
							.pricing__text Custom invoicing
						.pricing__line
							.pricing__icon
								+i('check')
							.pricing__text Additional security
					button.pricing__btn.btn.btn_purple.btn_sm Contact Sales 
	// popup 
	.popup.popup_big.mfp-hide#popup-faq
		.accord.accord_faq.js-accord
			h2.accord__title.title Frequently Asked Questions
			.accord__list
				.accord__item.js-accord-item.active
					.accord__head.js-accord-head 1. Do you have a free plan that I would be able to use forever?
					.accord__body.js-accord-body(style="display: block;") Yes, we do offer a free plan that anyone who is interested in our service can use absolutely for free and it will always be like that, no matter what.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 2. Can we cancel our subscription at any time?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 3. Do you offer any discounts?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 4. Where can I find your privacy and data collection policies?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 5. How do I contact you if I ever need any help with using the product?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 6. Can we cancel our subscription at any time?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 7. Do you offer any discounts?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 8. Where can I find your privacy and data collection policies?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
				.accord__item.js-accord-item
					.accord__head.js-accord-head 9. How do I contact you if I ever need any help with using the product?
					.accord__body.js-accord-body Yes, of course we do. You can either pay monthly or get an annual plan and save 20%. We also offer all our paid plans to students and non-profits absolutey for free.
	// popup 
	.popup.popup_big.mfp-hide#popup-work
		.accord.accord_work.js-accord
			h2.accord__title.title How it Works
			.accord__info Learn more about our software and how to use it in the best way possible.
			.accord__list
				.accord__section
					.accord__title.title.title_sm 1. Introduction
					.accord__group
						.accord__item.js-accord-item.active
							.accord__head.js-accord-head 1.1 Downloading and installing our software on your computer or mobile device
							.accord__body.js-accord-body(style="display: block;") In order to start using our software, you would first have to create an account. This process is pretty straight forward and all you need is your emaill address, as well as, you would also have to create a password for your new account.
				.accord__section
					.accord__title.title.title_sm 2. Set Up
					.accord__group
						.accord__item.js-accord-item
							.accord__head.js-accord-head 2.1 Creating an account to use our software
							.accord__body.js-accord-body In order to start using our software, you would first have to create an account. This process is pretty straight forward and all you need is your emaill address, as well as, you would also have to create a password for your new account.
						.accord__item.js-accord-item
							.accord__head.js-accord-head 2.2 Choosing the plan that will be right for you and your business
							.accord__body.js-accord-body In order to start using our software, you would first have to create an account. This process is pretty straight forward and all you need is your emaill address, as well as, you would also have to create a password for your new account.
				.accord__section
					.accord__title.title.title_sm 3. Set Up
					.accord__group
						.accord__item.js-accord-item
							.accord__head.js-accord-head 3.1 Creating an account to use our software
							.accord__body.js-accord-body In order to start using our software, you would first have to create an account. This process is pretty straight forward and all you need is your emaill address, as well as, you would also have to create a password for your new account.
						.accord__item.js-accord-item
							.accord__head.js-accord-head 3.2 Choosing the plan that will be right for you and your business
							.accord__body.js-accord-body In order to start using our software, you would first have to create an account. This process is pretty straight forward and all you need is your emaill address, as well as, you would also have to create a password for your new account.












