body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-color: #2A31C6;
}
h1, h2, h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: 56px;
    line-height: 1.21;
    letter-spacing: -1.5px;
    color: #120021;
    margin-top: 0;
    margin-bottom: 21px;
}
h2 {
    font-size: 52px;
    line-height: 1.19;
    letter-spacing: -1.1px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #120021;
    font-weight: 500;
}
h3 {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 2.5px;
	color: #120021;
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 400;
}
h4 {
    font-size: 16px;
	line-height: 1;
	letter-spacing: 2.5px;
	color: #120021;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-weight: 400;
}
a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none !important;
}
a, button {
    cursor: pointer;
}
a:focus, button:focus,
a:active, button:active {
    outline: none;
}
a:hover {
    text-decoration: none;
	color: rgba(255,255,255,0.7);
}
body #masthead {
    background-color: #2A31C6;
}

/* ----- Header ----- */
#masthead {
    background-color: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-bottom: 0;
}
.navbar {
    padding: 0;
}
.navbar-expand-lg .navbar-nav {
    margin: 0 -15px;
}
.navbar-expand-lg .navbar-nav .nav-link,
.page-template-documentation footer .navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: none;
}
.navbar-expand-lg .navbar-nav .nav-link:link,
.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:active,
.page-template-documentation footer .navbar-expand-lg .navbar-nav .nav-link:link,
.page-template-documentation footer .navbar-expand-lg .navbar-nav .nav-link:focus,
.page-template-documentation footer .navbar-expand-lg .navbar-nav .nav-link:active {
	background-color: transparent;
	color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.4);
}
.page-template-documentation footer .navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: transparent;
	color: #fff;
}
.navbar-expand-lg .navbar-nav .active > .nav-link,
.page-template-documentation footer .navbar-expand-lg .navbar-nav .active > .nav-link {
    color: rgba(255,255,255,.4);
}
.dropdown-toggle svg {
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    right: -2px;
}
.dropdown-toggle:after {
    display: none;
    font: normal normal normal 14px/0 FontAwesome;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    content: "\f107";
}
.dropdown-menu {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: solid 1px #e7e7e7;
    padding: 11px 0;
    margin-top: 2px !omportant;
    right: auto;
    left: 15px;
}
.dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, .1) !important;
}
/* ----- Header ----- */

/* ----- Home Page ----- */
.home-page-top {
    margin-bottom: 90px
}
.index-title {
    line-height: 60px;
    font-size: 54px;
    letter-spacing: -0.4px;
    margin-bottom: 9px;
}
.index-title img {
    width: 50px;
}
.index-subtitle {
    font-size: 22px;
    margin-bottom: 34px;
    line-height: 34px;
    color: rgba(255,255,255,.6);
}
.nav-pills .nav-link {
    color: #fff;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}
.nav-pills .nav-link:hover {
    color: rgba(255,255,255,.4);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    color: rgba(255,255,255,.4);
}
.home .modal-backdrop.show,
.category .modal-backdrop.show,
.search .modal-backdrop.show,
.tag .modal-backdrop.show {
    opacity: .7;
}
.section-title {
    line-height: 52px;
    font-size: 42px;
    margin-bottom: 20px;
}
.section-subtitle {
    line-height: 26px;
    font-size: 18px;
    opacity: .6;
    margin-bottom: 60px;
}
.section-option {
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.section-option li {
    float: left;
    width: 25%;
    line-height: 1.25;
    border-right: 1px solid rgba(255,255,255,0.1);
    font-size: 24px;
    color: #fff;
    height: 235px;
}
.section-option li:last-child {
    border: none;
}
.section-option li:nth-child(4) {
    border-right: none;
}
.section-option li:nth-child(n+5) {
    border-top: 1px solid rgba(255,255,255,0.1);
}
.section-option li img {
    display: block;
    margin: 0 auto 20px;
}
#features,
#buynow {
    margin-bottom: 80px;
}
.get-code-button {
    height: 35px;
    line-height: 36px;
    padding: 0 13px;
    background-color: #FF6433;
    color: #fff;
}
.get-code-button:hover {
    background-color: #ff8b66;
    color: #fff;
}
.get-code-button:active {
    outline: none;
    border: none !important;
    border-radius: .25rem !important;
    background-color: #ff3d00 !important;
}
.index-padding .tab-content {
    margin-bottom: 60px;
}
/* ----- /Home Page ----- */

/* ----- Animation ----- */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.delay-0-1s {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
} 
.animated.delay-0-2s {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
} 
.animated.delay-0-3s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
} 
.animated.delay-0-4s {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
} 
.animated.delay-0-5s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.animated.delay-0-6s {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.animated.delay-0-7s {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.animated.delay-0-8s {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
.animated.delay-0-9s {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.delay-1-1s {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.animated.delay-1-2s {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.animated.delay-1-3s {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.animated.delay-1-5s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}
.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.animated.slow-1-5 {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
}
.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.hidden-box {
     opacity:0;
}
.visible-box {
     opacity:1;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* ----- /Animation ----- */

/* ----- Button ----- */
.btn-buy,
div[id*=bite] a.btn-buy {
    padding-left: 22px;
    padding-right: 22px;
    height: 48px;
    font-size: 16px;
    line-height: 36px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    background-color: #FF6433;
    border-radius: 10px;
}
.btn-buy:hover,
div[id*=bite] a.btn-buy:hover {
    background-color: #ff8b66;
}
.btn-buy:active,
div[id*=bite] a.btn-buy:active {
    background-color: #ff3d00;
}
.btn-preview {
    width: 50%;
    height: 50px;
    padding: 13px 18px;
    float: left;
    text-align: left;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #1a2ae3;
    border-radius: 0;
    border-bottom-left-radius: .25rem;
    position: relative;
}
.btn-preview:hover {
    background-color: #4653ea;
}
.btn-preview:active {
    background-color: #1522b5;
}
.btn-code {
    width: 50%;
    height: 50px;
    padding: 13px 18px;
    float: left;
    text-align: left;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #020d4a;
    border-radius: 0;
    border-bottom-right-radius: .25rem;
    position: relative;
}
.btn-code:hover {
    background-color: #03167c;
}
.btn-code:active {
    background-color: #010418;
}
.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
}
.btn-clipboard:hover {
    color: #fff;
    background-color: #1a2ae3;
}
.btn-download {
    background-color: rgb(49,237,169);
    border-radius: 10px;
    font-weight: 700;
    font-style: normal;
    color: rgb(0,0,0);
    font-size: 18px;
    line-height: 2;
    height: 50px;
    letter-spacing: -0.2px;
    padding-right: 25px;
    padding-left: 25px;
}
#popups-preview .btn-download,
.documentation-section .btn-download {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    background-color: #e81f7c;
}
#popups-preview .btn-download:hover,
.documentation-section .btn-download:hover {
    background-color: #ed4d97;
    color: #fff;
}
#popups-preview .btn-download:active, 
.documentation-section .btn-download:active {
    background-color: #c01464;
    color: #fff;
}
.btn-demonstration {
    background-color: #1F27E4;
    padding: 0 16px;
    height: 36px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.btn-demonstration:hover {
    background-color: #4d53e9;
}
.btn-demonstration:active {
    background-color: #161dba;
}
/* ----- Button ----- */

.site-content {
    min-height: calc(100vh - 94px);
}
.entry-meta, .entry-footer {
    overflow: hidden;
}
.category .index-title,
.search .index-title,
.tag .index-title,
.single .index-title {
    margin-bottom: 100px;
}
.category .index-padding {
    padding-bottom: 60px;
}
.category .post-category-name {
    display: none;
}
.img-link {
    display: block;
    position: relative;
}
.img-link:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    background-color: rgba(42, 49, 198,0.3);
    border-radius: 6px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
.img-link:hover:before {
    opacity: 1;
}
.img-link img {
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.preview-name-block {
    margin-top: 16px;
    margin-bottom: 46px;
    overflow: hidden;
}
.post {
    padding: 0;
}
.post-title {
    margin-bottom: 9px;
    font-size: 15px;
    display: inline;
}
.post-title h3 {
    margin: 0 0 0 0;
    line-height: 30px;
}
.preview-name {
    vertical-align: middle;
    font-size: 24px;
    color: #fff;
    letter-spacing: normal;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}
.post-category-name {
    color: rgba(255,255,255,.6);
    font-size: 14px;
}
.post-category-name a {
    color: rgba(255,255,255,1.0);
}
.post-category-name a:hover {
    color: rgba(255,255,255,0.7);
}
.popups-list {
    text-align: center;
}
.quick-start-list li {
    list-style-type: decimal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0,0,0,0.6);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.popups-list button {
    width: 100%;
    margin-bottom: 20px;
}
#popups-preview {
    padding-bottom: 51px;
}
.popups-preview-header {
    margin-bottom: 80px;
}
#popups-preview p {
    font-size: 20px;
    line-height: 30px;
    color: rgba(0,0,0,0.6);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 35px;
}
.preview-inner {
    margin-bottom: 70px;
}
.preview-inner img {
    width: 100%;
}
.preview-inner .btn-group {
    width: 100%;
}
.preview-icon {
    background-image: url(../icon/eye.png);
    background-size: contain;
    width: 21px;
    height: 13px;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    right: 18px;
}
.bite-preview-inner img {
    width: 100%;
    border-radius: .25rem;
}
.form-inline select.form-control,
select.form-control:not([size]):not([multiple]) {
    font-size: 18px;
    height: calc(2.25rem + 1px);
    padding-right: 1.4em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.250061 0.213043C-0.083191 0.497101 -0.083191 0.957794 0.250061 1.24185L4.30304 4.6973C4.32892 4.71939 4.35602 4.73965 4.38409 4.75833C4.39435 4.7681 4.40509 4.77762 4.41608 4.78702C4.74933 5.07108 5.28961 5.07108 5.62262 4.78702L9.75006 1.26822C10.0833 0.984161 10.0833 0.52359 9.75006 0.239532C9.41681 -0.0445254 8.87677 -0.0445254 8.54352 0.239532L5.01569 3.24722L1.45685 0.213043C1.1236 -0.0710146 0.583313 -0.0710146 0.250061 0.213043Z' fill='%23C4C4C4'/%3E%3C/svg%3E"),linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%
}
.form-inline select.form-control::-ms-expand,
select.form-control:not([size]):not([multiple])::-ms-expand {
    display: none
}
.form-inline select.form-control:hover,
select.form-control:not([size]):not([multiple]):hover {
    border-color: #888
}
.form-inline select.form-control:focus,
select.form-control:not([size]):not([multiple]):focus {
    border-color: #aaa;
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    outline: none
}
.code {
    color: #2121DD;
    font-weight: normal;
}
.code-btn-inner p {
    padding: 6px 0;
    font-size: 16px;
    line-height: 26px;
}
.code-icon {
    background-image: url(../icon/download.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 18px;
}
.modal-code .modal-header .close {
    padding: 15px;
    top: 8px;
    right: 8px;
}
.modal-code .modal-header .close:before {
    width: 12px;
    height: 12px;
    top: 10px;
    right: 10px;
}
.modal-code .modal-content {
    border-radius: 5px;
}
.modal-code .nav-tabs {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #C3C3C3;
    height: 50px;
    border: 0;
}
.modal-code .nav-tabs .nav-link {
    color: #000;
    line-height: 2;
    border: 0;
}
.modal-code .nav-tabs .nav-link.active {
    border: 0;
}
.modal-code .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.4);
}
.modal-code .nav-tabs .nav-link.active:hover {
    color: rgba(0, 0, 0, 0.4);
}
.code-inner {
    padding: 1rem
}
.code-inner pre {
    display: block;
    margin-bottom: 0 !important;
    padding-left: 35px;
    padding-right: 35px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: #D5D5D5;
    font-family: 'Source Code Pro', monospace;
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #262421;
    line-height: 1.4;
}
.code-inner .btn-clipboard {
    top: 20px;
    right: 20px;
    font-size: 14px !important;
}
.link-documentation {
    color: #1a2ae3;
}
.index-padding .alm-btn-wrap {
    padding: 10px 0 90px;
}

/* ------ documentation-template ------ */
.page-template-documentation {
    background-color: #E3E3EE;
}
.page-template-documentation #masthead {
    background-color: #E3E3EE;
}
.page-template-documentation .navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
}
.page-template-documentation .navbar-expand-lg .navbar-nav .nav-link:link, 
.page-template-documentation .navbar-expand-lg .navbar-nav .nav-link:focus, 
.page-template-documentation .navbar-expand-lg .navbar-nav .nav-link:active {
    color: #000000;
}
body.page-template-documentation .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.4);
}
body.page-template-documentation footer .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.4);
}
.page-template-documentation .navbar-expand-lg .navbar-nav .active > .nav-link {
    color: rgba(0,0,0,.4);
}
#sticky li a {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    color: rgba(0,0,0,.4);
    padding: 0;
}
#sticky.stick {
    position: absolute;
    top: 0;
}
#sticky.stick-fix {
    top: auto !important;
    bottom: 49px;
}
#sticky li a.active,
#sticky li a:hover {
    color: rgba(0,0,0,1.0);
}
.page-template-documentation p {
    color: #888;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.page-template-documentation .code-btn p {
    padding: 11px 0;
    margin-bottom: 1.5rem;
    line-height: 23px;
}
.documentation-title {
    margin-bottom: 71px;
}
.documentation-title h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -1.5px;
    margin-bottom: 21px;
}
.documentation-title p {
    font-size: 22px;
}
.page-template-documentation .section-title {
    color: #120021;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: -0.5px;
    padding-bottom: 32px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.documentation-section {
    margin-bottom: 66px;
}
.documentation-section pre,
.question-answer pre {
    display: block;
    margin-bottom: 32px;
    padding-left: 35px;
    padding-right: 35px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: #DCDCE7;
    font-family: 'Source Code Pro', monospace;
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #262421;
    line-height: 1.66666667em;
}
.question-answer pre {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
    padding: 25px;
}
.documentation-section h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-bottom: 32px;
    padding-top: 20px;
    text-transform: none;
}
.code {
    color: #2121DD;
}
.demo-block {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 35px;
    margin-bottom: 32px;
}
div[id*=bite].bite-demo .modal-content {
    padding: 85px 80px;
    background: rgba(41,54,246,1);
    background: -moz-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,54,246,1)), color-stop(100%, rgba(112,122,255,1)));
    background: -webkit-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: -o-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: linear-gradient(to right, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2936f6', endColorstr='#707aff', GradientType=1 );
}
div[id*=bite].bite-demo .popup-title {
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 14px;
}
div[id*=bite].bite-demo .popup-text {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    margin-bottom: 39px;
}
div[id*=bite].bite-demo .form-control {
    width: 260px;
    height: 50px;
    padding: 6px 21px;
}
div[id*=bite].bite-demo .form-control::-moz-placeholder {
    line-height: 2.6;
}
div[id*=bite].bite-demo .form-control:-moz-placeholder {
    line-height: 2.6;
}
div[id*=bite].bite-demo .btn {
    width: 62px;
    height: 50px;
    background-color: #1625f2;
}
div[id*=bite].bite-demo .btn:hover {
    background-color: #ffff;
}
div[id*=bite].bite-demo .btn:hover i {
    color: #1625f2;
} 
div[id*=bite].bite-demo .btn:active {
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
div[id*=bite].bite-preview {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
div[id*=bite].bite-preview .popup-hover {
    background-color: transparent;
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    position: absolute;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
div[id*=bite].bite-preview .modal-body:hover .popup-hover {
     opacity: 1;
}
div[id*=bite].bite-preview .modal-body .preview-image {
    position: relative;
}
div[id*=bite].bite-preview .modal-body .preview-image:before {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
div[id*=bite].bite-preview .modal-body:hover .preview-image:before {
     opacity: 1;
}
.demo-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    color: #fff;
    font-size: 46px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -1.5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.demo-wrapper.show-block {
    display: block;
}
.demo-wrapper-close {
    padding: 20px;
    margin: 0;
    position: fixed;
    top: 6px;
    right: 22px;
    opacity: 1;
    outline: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.demo-wrapper-close:focus,
.demo-wrapper-close:active {
    outline: 0;
}
.demo-wrapper-close:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    background-size: contain;
    opacity: .3;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.demo-wrapper-close.close-light:hover:before {
    opacity: 1;
}
.demo-wrapper-close.close-light:before {
    background-image: url(../icon/Icon-Close-Light.png);
    opacity: .6;
}
.demo-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.demo-inner .container {
    height: 3000px;
}
/* ------ /documentation-template ------ */

/* ----- Footer ----- */
#colophon {
    background-color: #000;
    padding: 30px 0;
    position:relative;
    margin-top: 0;
}
.site-footer a.d-block {
    height: 36px;
}
.footer-bottom span {
    line-height: 24px;
    font-size: 16px;
    color: rgba(255,255,255,.3);
}
.footer-menu {
    margin: 0 -15px;
}
.footer-menu li {
    float: left;
    margin-right: 13px;
}
.footer-menu li:last-child {
    margin-right: 0;
}
.footer-menu li a {
    padding: 15px 13px;
    line-height: 33px;
    font-size: 16px;
    color: #000;
    text-transform: none;
    letter-spacing: normal;
}
.footer-menu li a:hover {
	color: #999;
}
.social-icon-ftr {
    float: right;
    color: #fff;
    padding: 0 14px;
}
.social-icon-ftr:hover {
	color: #999;
}
.social-icon-ftr .fa-lg {
    line-height: 35px;
}
/* ----- /Footer ----- */

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .preview-icon {
        background-image: url(../icon/eye@2x.png)
    }
    .code-icon {
        background-image: url(../icon/download@2x.png);
    }
    .demo-wrapper-close.close-light:before {
        background-image: url(../icon/Icon-Close-Light@2x.png);
    }
}
@media only screen and (min-width: 992px) {
    .popups-list button {
        width: 10%;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
    .preview-inner .col-md-4:nth-of-type(1) {
        padding-left: 0;
        padding-right: 20px;
    }
    .preview-inner .col-md-4:nth-of-type(2) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .preview-inner .col-md-4:nth-of-type(3) {
        padding-left: 20px;
        padding-right: 0;
    }
}
@media only screen and (max-width: 1200px) {
    #sticky li a {
        font-size: 18px;
    }
}
@media only screen and (max-width: 990px) {
    .page-template-documentation #masthead {
        margin-top: 40px;
    }
    .navbar-collapse {
        margin-top: 30px;
    }
    #sticky {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        position: fixed !important;
        top: 0 !important;
        left: 0;
        right: 0;
        -ms-flex-pack: center!important;
        justify-content: center!important;
        background: #fff;
        border: 0;
        box-shadow: none;
        z-index: 9999;
    }
    #sticky.stick-fix {
        display: none;
    }
    #sticky li a {
        margin-bottom: 0;
        padding: 0.5rem;
        font-size: 14px;
    }
    .btn-demonstration {
        margin-left: 0 !important;
    }
    #footer-block .row > div {
        text-align: center;
    }
    #footer-block .row div,
    #footer-block .row ul {
        float: none !important;
    }
    .logo-footer,
    .footer-menu {
        margin-bottom: 20px;
        display: block;
    }
    .footer-menu li,
    .social-icon-ftr {
        float: none;
        display: inline-block;
    }
    .preview-inner .btn {
        text-align: center;
    }
    .preview-inner .btn i {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .preview-inner {
        margin-bottom: 0;
    }
    .preview-inner .col-md-4 {
        margin-bottom: 20px;
    }
    .section-option li {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        height: auto;
        padding: 20px;
    }
    .section-option li:last-child {
        border: 0;
    }
}
@media only screen and (max-width: 575px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bite-demo .form-inline {
        display: block !important;
    }
    .bite-demo .form-control,
    .bite-demo .btn {
        width: 100%;
        text-align: center;
    }
    .bite-demo .modal-content {
        padding: 40px;
    }
}